@charset "utf-8";
p, h1, h2, h3, h4, ul, ol, dl, dd, body, form {
	padding: 0;
	margin: 0;
}
img {
	vertical-align: bottom;
	border-style: none;
}
ul , ol{
	list-style-type: none;
}
main {
	display: block;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 0.9em;
}
header {
	height: 100%;
	width: 250px;
	background-color: #EA68A2;
	position: fixed;
	top: 0px;
	left: 0px;
}
head {
}
header h1 {
	background-color: #F5F6E7;
	padding: 10px 0px 12px;
	text-align: center;
}
.content {
	margin-left: 250px;
	background-image: url(img/lesson2_03.png);
}
.sidenav {
	background-color: #FFFFFF;
}
.sidenav ol {
	background-color: #94DEFF;
	margin-left: auto;
	width: 360px;
}
.sidenav ol li {
	float: left;

}
.sidenav ol  li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 10px;
	width: 78px;
	margin: 10px 0;
	border-right: 1px solid #FFFFFF;
	text-align: center;
}
.top   {
	background-color: #FEC07C;
	background-image: url(img/bg-topimage.png);
	background-repeat: no-repeat;
	height: 575px;
	margin-bottom: 70px;
	position: relative;
}
.top .text {
	position: absolute;
	top: 70px;
	left: 60px;
}
.top .news {
	height: 45%;
	width: 100%;
	position: absolute;
	background-color: rgba(255,255,255,0.80);
	bottom: 0px;
	left: 0px;
}
.news h2, .news ul {
	padding: 0 50px 20px;
	color: #5C1C1E;
}
.news h2 {
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 20px;
}
.news ul {
	margin-left: 20px;
	list-style-type: disc;
}
.top .news ul {
}
footer {
	padding: 15px;
	background-color: #FFFFFF;
	text-align: center;
}
footer a {
	color: #000000;
	text-decoration: none;
}
footer a:hover {
	color: #844E45;
}
.sabpage {
	padding-bottom: 30px;
}
.sabpage h2 {
	color: #FA68A2;
	background-color: #F2F0F5;
	background-image: url(img/bg-title.png);
	background-repeat: no-repeat;
	background-position: right center;
	height: 80px;
	padding-top: 40px;
	padding-left: 30px;
	font-size: 1.8em;
}
.sabpage .topic {
	margin: 20px 30px;
}
.sabpage .topic li {
	display: inline;
}
.sabpage .topic li+li:before {
	content: " | ";

}
.sabpage h3 {
	margin: 30px;
	font-size: 1.5em;
	color: #FF5B01;
}
.items {
	margin: 0 0 30px 30px;
}
.items p {
	margin: 0 20px 20px 0;
	float: left;
}
.campaign   {
	margin: 0 0 30px 30px;
}
.campaign .illust {
	margin-right: 70px;
	float: left;
}
.campaign .text {
	margin-right: 0px;
	margin-left: 30px;
	float: left;
}
.campaign .text p {
	padding-bottom: 10px;
}
.gallerybox {
	margin: 0 0 30px 30px;
	width: 250px;
	float: left;
}
.gallerybox h4 {
	padding: 10px 0;
}
.faqlist {
	margin: 0 30px 20px;
}
.faqlist dd {
	padding: 0 0 1em 1em;
	text-indent: -1em;
}
.voicetext {
	margin: 0 30px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 2px solid #598527;
}
.formtable {
	background-color: #FFFFFF;
	width: 72%;
	border-collapse: collapse;
	margin-left: 30px;
}
.formtable th,.formtable td {
	padding: 10px;
	border: 1px solid #EA68A2;
	text-align: left;
	/* [disabled]font-variant: small-caps; */
}
.formtable th {
	background-color: #EBD3CF;
}
.formsubmit {
	margin: 20px 0 30px 30px;
	text-align: center;
	width: 72%;
}
